div
  a href="#{user_omniauth_authorize_path(:twitter)}" class="signin-button twitter"
    i
    span Sign In with twitter
div
  a href="#{user_omniauth_authorize_path(:facebook)}" class="signin-button facebook"
    i
    span Sign In with Facebook
div
  a href="#{user_omniauth_authorize_path(:gplus)}" class="signin-button googleplus"
    i
    span Sign In with Google+

