.unit
  - collapse_id = "accordion-#{item.id}"

  .storyUnit id="#{item.id}"
    .titleUnit
      a href="#{item.url}" target="_blank"
        img src="#{item.favicon_url}" width="24" height="24" alt=""
        | &nbsp;
        span.title #{item.title}

    .actionUnit
      = render "item_action_menu", item: item, collapse_id: collapse_id

    .collapse id="#{collapse_id}"
      .commentUnit
        - item.comments.each do |comment|
          = render "comment", comment: comment
        .comment.more
          span
            a href="#{url_for(uri_item_path(item.id))}" more
