- unless current_user()
  = render :partial => 'layouts/brand'

.container
  .row
    .span12
      ol.items
        - @items.each do |item|
          li.item
            = render 'item', :item => item

= content_for :javascript
  = javascript_include_tag 'api/thumbs_up'
