.comment
  .comment-icon
    a href="#"
      img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/186035_897940273_1597318_q.jpg" width="32" height="32" alt=""
  .comment-content
    .comment-name
      a href="#" #{comment.user.name}
    .comment-text
      = comment.text
    .comment-at
      = distance_of_time_in_words_to_now(comment.created_at) + " ago"
