.container
  .row
    .span12.text-center
      div
        h2 Edit #{resource_name.to_s.humanize}

        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
          = devise_error_messages!

          fieldset
            .control-group
              = f.label(:email, class: 'control-lable')
              .controls
                = f.email_field(:email, autofocus: true, placeholder: 'Email')
                - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                  div Currently waiting confirmation for: #{resource.unconfirmed_email}

            .control-group
              = f.label(:password)
              .controls
                i (leave blank if you don't want to change it)
                = f.password_field(:password, autocomplete: "off")

            .control-group
              = f.label(:password_confirmation)
              .controls
                = f.password_field(:password_confirmation)

            .control-group
              = f.label(:current_password)
              .controls
                i (we need your current password to confirm your changes)
                = f.password_field(:current_password)
            div
              = f.submit("Update")
      div
        h3 Cancel my account

        p
          | Unhappy?
          = button_to("Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete)

      div
        = link_to("Back", :back)
