.container
  .row
    .offset2.span8
      div
        h2 Sign up

        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f|
          = devise_error_messages!
          fieldset
            .control-group
              = f.label(:email, class: 'control-label')
              .controls
                = f.email_field(:email, autofocus: true, placeholder: 'Email')
            .control-group
              = f.label(:name, class: 'control-label')
              .controls
                = f.text_field(:name)
            .control-group
              = f.label(:password, class: 'control-label')
              .controls
                = f.password_field(:password)
            .control-group
              = f.label(:password_confirmation)
              .controls
                = f.password_field(:password_confirmation)
            div
              = f.submit "Sign up"

        = render "devise/shared/links"
