/ highlight_item template
i.pointer
div.unit
  /! Story
  .storyUnit
    .imageUnit
      a href="#"
        img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/186035_897940273_1597318_q.jpg" width="32" height="32" alt=""
      .imageUnit-content
        h4
          a href="#"
            | Vinay
        p
          | 20 hours ago via twitter

    p
      strong
        | A highlighted story
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  /! Units
  ol.storyActions
    li
      a href="#"
        | Like
    li
      a href="#"
        | Comment
    li
      a href="#"
        | @artminister on Twitter

