div
  span.btn-group data-toggle="button"
    button.btn.btn-mini.thumbsUp class=(user_signed_in? ? '' : 'disabled') type="button" rel="tooltip" title="thumbs up if you like this !" data-thumbsupid="#{thumbs_up_id(item)}" data-uri="#{item.url}" data-loading-text="..."
      i.icon-thumbs-up
      | good !

  span.btn-group data-toggle="button"
    - has_comments = item.comments.empty?

    button.btn.btn-mini class=(has_comments ? 'disabled' : '') data-toggle="collapse" type="button" rel="tooltip" title="comments" data-target=(has_comments ? '' : "##{collapse_id}")
      i.icon-comment-alt
      span.comment_size
        | &nbsp;#{item.comments.size}&nbsp;

  span.btn-group
    button.btn.btn-mini type="button" rel="tooltip" title="share this site."
      i.icon-share
      | share
    button.btn.btn-mini type="button" rel="tooltip" title="view original site."
      i.icon-file-alt
      | view original

