/ item
i.pointer
div.unit
  - collapse_id = "accordion-#{item.id}"

  /! Story
  div.storyUnit id="#{item.id}"
    div.titleUnit
      a href="#{item.url}" target="_blank"
        img src="#{item.favicon_url}" width="16" height="16" alt=""
        span.title #{item.title}

    /! Units
    .actionUnit
      = render "item_action_menu", :item => item, :collapse_id => collapse_id

    .collapse id="#{collapse_id}"
      .commentUnit
        - item.comments.each do |comment|
          = render "comment", :comment => comment
        .comment.more
          span
            a href="#{url_for(uri_item_path(item.id))}" more
