/ post form on timeline
li.left
  i.pointer
  .unit
    ol.actions
      li.active
        a href="#" rel="Status"
          i.icon.icon-status
          | Status
      li
        a href="#"
          i.icon.icon-photo
          | Photo
      li
        a href="#"
          i.icon.icon-place
          | Place
      li
        a href="#"
          i.icon.icon-event
          | Life Event

    div.actionUnits
      div#Status.formUnit
        i.active
        textarea name="" placeholder="What's on your mind?" cols="30" rows="3"

        ol.controls.clearfix
          li.post
            button.uibutton.confirm type="submit" Post


