/ h1 Timeline#index
/ p Find me in app/views/timeline/index.html.slim

/ titile: Facebook timeline with HTML and CSS

- unless current_user()
  = render :partial => 'layouts/brand'

.container
  .row
    .span12
      .timeline-container
        ol.timeline.clearfix
          li.spine
            a href="#" title="This is the Spine of Facebook Timeline. You can Add Custom Events here."

          / show post form
          = render 'post_form'

          - @items.each do |item|
            li class="#{cycle('right', 'left', :name => 'item_position')}"
              = render 'item', :item => item

          /li.left
            = render 'item'
          /li.right
            = render 'item'
          /li.highlight
            = render 'highlight_item'

= content_for :javascript
  = javascript_include_tag 'api/thumbs_up'
