.container
  .row
    .span12
      h2 Sign in

  .row
    .offset2.span8.text-center
      div#sigin_form
        = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          fieldset
            .control-group
              = f.label(:name, class:'control-label')
              .controls
                /= f.email_field(:email, :autofocus => true)
                = f.text_field(:name, :autofocus => true)
            .control-group
              = f.label(:password, class:'control-label')
              .controls
                = f.password_field(:password)
            .control-group
              - if devise_mapping.rememberable?
                div
                  = f.check_box(:remember_me)
                  = f.label(:remember_me)
            div
              = f.submit "Sign in"

        = render "devise/shared/links"

    /.span4
      div
        a.signin-button.twitter href="#{user_omniauth_authorize_path(:twitter)}"
          i
          span Sign In with Twitter
      div
        a.signin-button.facebook href="#{user_omniauth_authorize_path(:facebook)}"
          i
          span Sign In with Facebook
      div
        a.signin-button.googleplus href="#{user_omniauth_authorize_path(:gplus)}"
          i
          span Sign In with Google+

