
body {
  background-color: #f7f7f7;
  padding-top: 60px;
}

@media (max-width: 980px) {
  body {
    padding-top: 0px;
  }
}

.modal-body .container {
  width: 520px;
}

footer {
  padding-top: 10px;
  background-color: #333;

  div.container {
    div.row {
      h4 {
        color: #d3d3d3;
        font-size: 120%;
      }

      div {
        li a {
          color: #d3d3d3;
          text-decoration: none;
        }
      }
    }
  }

  .description {
    color: #d3d3d3;
    font-size: 70%;
    text-decoration: none;
  }
}
