/* signin buttons */
.signin-button{
  position: relative;
  display: inline-block;
  text-align: left;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: normal;
  color: #fff !important;
  width: 220px;
  line-height: 40px;
  border: 0px !important;
  padding: 0px !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.4);

  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px;
  box-shadow: 0 1px 1px rbga(0,0,0,0.3);
}

.signin-button i {
  background: url('signin-buttons.png') no-repeat;
  border-right: 1px solid rgba(0,0,0,0.2);
  display: block;
  float: left;
  width: 40px;
  height: 40px;
}
.signin-button span {
  position: static;
  border-left: 1px solid rgba(255,255,255,0.2);
  padding: 12px 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}
.signin-button:active {
  margin-bottom: 6px;
  margin-top: 2px;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.signin-button:hover {
  text-decoration: none;
  background-color:#fff;
}

/* twitter */
.signin-button.twitter {
  background-color: #00accd;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
.signin-button.twitter:hover {
  background-color: #21c2ff;
}
.signin-button.twitter i {
}


/* facebook */
.signin-button.facebook{
  background-color: #3b5998;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
.signin-button.facebook:hover {
  background-color: #4c70ba;
}
.signin-button.facebook i{
  background-position:0 -40px;
}

/* google plus */
.signin-button.googleplus{
  background-color: #df4a32;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
.signin-button.googleplus:hover {
  background-color: #e67360;
}
.signin-button.googleplus i{
  background-position:0 -80px;
}
