
ol.items {
  list-style-type: none;
  margin: 0;

  li.item {
    padding: 0px;
    padding-bottom: 10px;
  }
}

.unit {
  background:#fff;
  padding: 5px;
  border: 1px #C4CDE0 solid;
  border-radius: 3px;

  div.storyUnit {
    padding: 10px;

    div.titleUnit {
      padding-bottom: 10px;
      font-size: 11px;

      span.title {
        font-size: 150%;
        word-wrap: break-word;
      }
    }

    div.actionUnit {
      padding-bottom: 5px;
    }

    div.commentUnit {
      padding-top: 10px;
      padding-bottom: 5px;
      font-size: 11px;

      border-top: 1px #ccc solid;

      div.comment {
        div.comment-icon {
          display: inline-block;
          vertical-align: top;
          width: 40px;

          > p { margin:0px; }
        }

        div.comment-content {
          display: inline-block;
          vertical-align: top;
          max-width: 350px;

          > p { margin: 0px; }

          div.comment-text {
            word-wrap: break-word;
          }
          div.comment-at {
            text-align: right;
          }
        }
      }

      div.comment.more {
        padding-top: 5px;
        background: #EFEFF4;
        text-align: center;

        span {
          vertical-align: middle;
        }
      }
    }
  }
}

