footer
  .container
    .row
      .span3
        h4 about
        ul.unstyled
          li
            a href="#" rel="tooltip" title="Introduction about this service."
              | this site
          li
            a href="#" rel="tooltip" title="HowTos about this serivce."
              | How To
          li
            a href="#" rel="tooltip" title="I wanna drink more beer. cheers!"
              | Donate

      .span3
        h4 developers
        ul.unstyled
          li
            a href="#" rel="tooltip" title="about WebAPI to use this service."
              | API(not yet..)

      .span3
        h4 policy
        ul.unstyled
          li
            a href="#" rel="tooltip" title="term of services"
              | terms
          li
            a href="#" rel="tooltip" title="privacy policy"
              | privacy policy

      .span3
        h4 news
        ul.unstyled
          li
            a href="#" rel="tooltip" title="this service blog's rss feed"
              i.icon-rss news
          li
            a href="#" rel="tooltip" title="facebook page"
              i.icon-facebook facebook
          li
            a href="#" rel="tooltip" title="google+ page"
              i.icon-google-plus-sign google+
          li
            a href="#" rel="tooltip" title="twitter account"
              i.icon-twitter twitter
    .row
      .offset2.span10
      ul.unstyled
        li.description
          | Made by hirakiuc@gmail.com
        li.description
          | Based on ruby 1.9.3, rails3, Twitter Bootstrap, facebook like timeline.
