#modal-signup.modal.hide.fade tabindex="-1" role="dialog" aria-labelledby="modal-signup" aria-hidden="true"
  .modal-header
    button.close type="button" data-dismiss="modal" aria-hidden="true"
      | &times;
    h3 SignUp
  .modal-body
    .container
      .row
        .span3
          form.form-vertical accept-charset="utf-8" action="#" autocomplete="off" method="post"
            fieldset
              input type="text" id="user[email]" placeholder="Email Address"
              br
              input type="text" id="user[name]" placeholder="Name"
              br
              input type="password" id="user[passwd]" placeholder="Password"
              p
              a.btn href="#" SignUp
        .span3
          div
            a href="#" class="signin-button twitter"
              i
              span Sign Up with twitter
          div
            a href="#" class="signin-button facebook"
              i
              span Sign Up with Facebook
          div
            a href="#" class="signin-button googleplus"
              i
              span Sign Up with Google+
  .modal-footer
    a.btn href="#" data-dismiss="modal" aria-hidden="true" Close
