.navbar.navbar-fixed-top
  .navbar-inner
    ul.nav
      li
        a href="#" Home
      li.divider-vertical
      li.dropdown
        a.dropdown-toggle href="#" data-toggle="dropdown"
          | test2
          b.caret
        ul.dropdown-menu
          li
            a href="#" test2-menu1
          li
            a href="#" test2-menu2
      li.divider-vertical
      li
        a href="#" test3

    ul.nav.pull-right
      - if user_signed_in?
        li
          = form_for UriItem.new, :url => api_item_index_path, :html => { :class => "navbar-form" } do |f|
            = f.url_field :url, :required => true, :html => { :class => "input-small" }
            = f.button "submit", :disable_with => "..."

        li.dropdown
          a.dropdown-toggle href="#" data-toggle="dropdown"
            | #{current_user().name}
            b.caret
          ul.dropdown-menu
            li
              = link_to('SignOut', destroy_user_session_path, :method => :delete)
      - else
        li#signup-btn
          = link_to('SignUp', new_user_registration_path, :class => 'btn btn-small')
        li#signin-btn
          = link_to('SignIn', new_user_session_path, :class => 'btn btn-small')
